.container {
  padding: 10px 50px 10px 50px;
  margin-top: 40px;
}
.mainheading_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
  font-size: 16px;
}
.line_div {
  height: 1px;
  width: 40px;
  background-color: #000000;
}
.mainheading_div h2 {
  font-weight: 100;
}
.desc_span {
  margin-top: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 50px;
}
.slogon {
  font-size: 40px;
  text-align: center;
}
.slogon h2 {
  font-weight: 400;
}
.slogon span {
  color: #88750e;
}
@media (max-width: 992px) {
  .container {
    padding: 10px 0px 10px 10px;
    margin-top: 40px;
  }
  .mainheading_div {
    font-size: 16px;
  }
  .slogon {
    font-size: 33px;
    text-align: center;
  }
  .slogon h2 {
    font-weight: 400;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 10px 10px 10px 10px;
    margin-top: 40px;
  }
  .mainheading_div {
    font-size: 13px;
  }
  .slogon {
    font-size: 23px;
    text-align: center;
  }
  .slogon h2 {
    font-weight: 400;
  }
}
