.video-container {
  position: relative;
  width: 100%;
  height: 110vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  top: 80%;
  transform: translateY(-50%);
}
.icons_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.facebook_icon {
  background-color: #3b5998;
  padding: 5px 5px 1px 5px;
  border-radius: 100%;
}
.instagram_icon {
  background-color: #c4217b;
  padding: 5px 5px 1px 5px;
  border-radius: 100%;
}
.youtube_icon {
  background-color: #cd201f;
  padding: 5px 5px 1px 5px;
  border-radius: 100%;
}
.linkedin_icon {
  background-color: #0077b5;
  padding: 5px 5px 1px 5px;
  border-radius: 100%;
}
.content p {
  font-size: 25px;
}
.link {
  color: #fff;
  text-decoration: none;
}
.facebook_icon,
.instagram_icon,
.youtube_icon,
.linkedin_icon {
  transition: transform 0.3s ease; /* Smooth animation */
}

.facebook_icon:hover,
.instagram_icon:hover,
.youtube_icon:hover,
.linkedin_icon:hover {
  transform: scale(1.2); /* Zoom in by 20% */
  cursor: pointer; /* Change cursor to pointer */
}
.form_div {
  top: 0%;
  transform: translateY(10%); /*-40%*/ /*-10%*/
  left: 70%;
  position: relative;
  z-index: 1;
  background-color: #fff;
  opacity: 80%;
  width: 22%;
  padding: 10px;
  border-radius: 20px;
}
.form_main {
  padding: 10px 20px 10px 20px;
}
.form_main h1 {
  font-size: 20px;
  padding: 0 0 0 10px;
  font-weight: lighter;
}
.form_main input {
  width: 90%;
  border-color: #000000;
  padding: 9px 10px;
  border-radius: 10px;
}
.form_main select {
  width: 100%;
  padding: 10px 0;
  border-radius: 7px;
  font-size: 15px;
  font-weight: bold;
}
.form_main button {
  margin-top: 10px;
  padding: 10px 0;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  background-color: #053268;
  color: #fff;
  font-weight: 500;
}

@media (max-width: 767px) {
  .video-container {
    height: 140vh;
  }

  .background-video {
    height: 70%;
  }
  .content {
    top: 60%;
    transform: translateY(-50%);
  }
  .form_div {
    top: 70%;
    transform: translateY(0%);
    left: 0%;
    position: absolute;
    opacity: 100%;
    width: 90%;
  }
  .form_main input {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .video-container {
    height: 160vh;
  }
  .form_div {
    left: 60%;
    width: 30%;
    padding: 20px 20px 20px 0;
    border-radius: 20px;
  }
  .form_main select {
    width: 103%;
  }
  .form_main button {
    width: 103%;
  }
}
