/* .headerlink {
  display: flex;
  font-size: 10;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.headerContainer {
  gap: 290px;
  display: flex;
  width: 100%;
  height: 50px;
  color: white;
}
.mainDiv {
  background-color: black;
}
.logo1 {
  margin-top: 5px;
  height: 40px;
}
.navbar {
  display: flex;
  gap: 20px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: black;
  padding-bottom: 4px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: blue;
  transition: width 0.3s ease-in-out;
}

.nav-link.active::after {
  width: 100%;
} */

.maindiv {
  background-color: #000000;
}
.title {
  width: 100px;
}
nav ul li a:active {
  background-color: #88750e;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #88750e;
}

nav .title {
  text-decoration: none;
  color: #88750e;
  height: 50px;
  cursor: pointer;
}

nav ul li a:hover {
  color: #88750e;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #88750e;
  padding: 0.5rem;
  margin: 1rem 0.5rem 0 0.5rem;
  border-radius: 0.5rem;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #88750e;
  border-radius: 0.2rem;
}

@media (max-width: 991px) {
  nav .menu {
    display: flex;
    padding-right: 0px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}

nav ul li a.active {
  position: relative;
  color: #88750e;
  font-weight: 600;
}

nav ul li a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}
